        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        body {
            min-width: 100vh;
            min-height: 100vh;
        }

        .container {
            padding: 0%;
            margin: 2%;
        }

        .pad td {
            
            align-items: center;
        }

        h4 {
            text-align: center;
            text-decoration: underline;
        }

        .margin {
            margin: 5px;
            margin-top: 20px;
            text-align: center;

        }

        table,
        tr,
        td,
        th {
            border: 1px solid black;
            
        }

        td {
            padding: 2px;
        }

        .container {
            margin: 0;
            padding: 5px;
            max-width: 1300px;
        }

        .col th,
        td {
            font-size: 15px;
            padding: 5px;
            text-align: center;
            padding-bottom: 2px;
        }